
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    height: 50px;
    overflow:hidden;
  
  transition: all .3s ease;
}

.text-bar {
    height: 100%;
    padding: 5px;
}

.task-container--expand {
    height: 100px;
}

.task-footer {
   display: flex;
   align-items: center;
   justify-content: center;
}

.task-close { 


}

.container {
    display: flex;
}

.content {
    padding: 20px;
}

.notes-container {
   display: grid;
   grid-template-columns: 1fr 10fr;
}

.nav {
    min-width: 100px;
    height: 100vh;
    background-color: coral;
}

.header {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-text {

    margin-left: 20px;
    color: white;

}

.projects {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-title {
    font-size: 1.3rem;
}

.task {
    border: 1px solid black;
    padding: 10px;
}
