:root {
  --p1-color: rgba(0, 128, 0, 0.3);
  --p2-color: rgba(255, 255, 0, 0.3);
  --p3-color: rgba(255, 165, 0, 0.3);
  --p4-color: rgba(255, 69, 0, 0.3);
  --p1-border-color: rgba(0, 128, 0, 0.8);
  --p2-border-color: rgba(255, 255, 0, 0.8);
  --p3-border-color: rgba(255, 165, 0, 0.8);
  --p4-border-color: rgba(255, 69, 0, 0.8);
  --check-icon: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
  --edit-icon: url(../static/icons/edit.svg);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}
.main-container {
  display: flex;
  flex-direction: column;
}

.task-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.task-inside-container {
  flex: 1;
  display: flex;
}

.newtask-left-wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 5px;
}

.newtask-right-wrapper {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.task .newtask-right-wrapper {
  grid-column: 2;
  grid-row: 3;
}

.newtask-footer {
  display: flex;
  align-items: center;
}

.newtask-right-wrapper, .close-wrapper {
  width: 50%;
}

.newtask-priority {
  width: 40px;
}

.close-wrapper {
  flex: 1;
  display: flex;
  justify-content: left;
  margin: 2px;
}

.task-close {
  font-size: 0.8rem;

}

.date-label {
  content: url(../static/icons/calendar.svg);
}

.project-select-wrapper {
  display: flex;
}

.project-select-label {
  content: url(../static/icons/folder.svg);
}



.text-bar {
  font-weight: 700;
  padding: 5px;
  width: 100%;
  border: 0px;
}

.new-description {
  border: 0px;
  padding: 5px;
}

input:focus {
  outline: 0px;
}

.task-container--expand {
  height: 120px;
}

.container {
  display: flex;
}

.content {
  padding: 20px;
  width: 100%;
}

.notes-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  height: 100vh;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding-top: 20px;
}

.nav-home {
  padding: 10px;
  margin-bottom: 20px;
  width: 100px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.nav-item {
  all: unset;
  width: 100px;
  padding: 10px;
}

.nav-item:hover {
  color: green;
}

.project-add {
  padding: 10px;
  margin-top: 20px;
  width: 100px;
}

.done-tasks {
  padding: 10px;
  margin-top: 20px;
  width: 100px;
}

.header {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-text {
  margin-left: 20px;
  color: white;
}

.projects {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-title-wrapper {
  display: flex;
  gap: 5px;
}
.project-title {
  font-size: 1.3rem;
  font-weight: 700;
  height: 30px;
}

.project-title-edit {
  display: none;
  content: var(--edit-icon);
  width: 15px;
  height: 15px;
}

.project-title-wrapper:hover .project-title-edit {
display: block;
}

.editing {
  padding: 10px;
}

.task {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}

.task--expanded {
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-columns: 30px 1fr 1fr 150px;
}

.task:hover {
}

.save {
  align-self: center;
  justify-self: right;
  font-size: 0.8rem;
  grid-column: 3;
  grid-row: 3;
}

input[type="checkbox"] {
  appearance: none;
  grid-row: span 2;
  align-self: center;
  /* background-color:rgba(255,0, 0, 0.4); */
  margin: 0;
  font: inherit;
  color: white;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50px;
  display: grid;
  transition: outline 50ms 50ms ease-in-out;
}

.task:hover input[type="checkbox"] {
  outline: 0.15em solid;
}

input[type="checkbox"]:hover {

  background-image: var(--check-icon);
}

input[type="checkbox"]:checked {
  background-image: var(--check-icon);
}

select {
  outline: 0px;
  border: 0px;
  background-color: white;
}

select:hover {
  border: 1px solid black;
  font-weight: 700;
}

.newtask-date-wrapper {
  display: flex;
  gap: 5px;
}

.newtask-date {
  border: 0px;
  width: 70px;
  text-align: center;
}

.newtask-date:hover {
  font-weight: 700;
}

.priority-wrapper {
  display: flex;
}

.priority {
  font-size: 0.9rem;
}

.priority-label {
  content: url(../static/icons/priority.svg)
}

.date-priority-wrapper {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  padding-left: 15px;
  padding-top: 5px;
}

.task-actions-wrapper {
  display: flex;
  gap: 5px;

  justify-self: end;
  grid-column: 4;
}

.edit,
.remove {
  display: none;
  font-size: 0.9rem;
}

.edit {
  content: var(--edit-icon);
  width: 25px;
  height: 25px;
}

.remove {
  content: url(../static/icons/delete.svg);
  width: 25px;
  height: 25px;
}

.task-left-wrapper {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  gap: 5px;
}

.input-text-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 5px;
}

.input-text-wrapper :is(.task-title, .description) {
  border: none;
  background-image: none;
}

textarea {
  font-family: "Roboto";
  width: 300px;
  resize: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.task-edit {
  border: none;
  border-radius: 2pt;
  box-shadow: 0 0 0 1pt grey;
  outline: none;
  transition: 1s;
}

.task-title {
  font-weight: 700;
  font-size: 1rem;
  padding: 5px;
  outline: 0px;
}

.task--expanded :is(.edit, .remove) {
  display: block;
}

.task--expand {
  display: flex;
  height: 100px;
  flex-direction: column;
}

.task-title--hidden {
  display: none;
}

.description {
  font-style: italic;
  font-size: 0.8rem;
  padding: 5px;
  outline: 0px;
}

.assigned-project {
  font-size: 1rem;
  background-color: yellow;
  width: fit-content;
  height: fit-content;
  padding: 3px;
  grid-row: 2;
  grid-column: 4;
  justify-self: end;
}

.due-status {
  display: flex;
  font-size: 0.8rem;
  margin-left: 5px;
}

.task:hover .task-actions-wrapper > div {
  display: block;
}

div[id="-2"] .task .task-actions-wrapper {
  display: none;
}

.newtask-date-picker {
  display: none;
  position: absolute;
  top: 10px;
  right: 50;
}
